.milkdown .editor {
    /* height: 100vh; */
    min-height: calc(100vh - 33px);
    /* set the background color: */
    background-color: #2e3440;
    color: white;
    font-size: 17px;
    /* border: 2px solid black; */
    overflow: auto;
    padding: 2px;
    padding-left: 5px;
}

.milkdown .editor:focus {
    outline: none;
}


/* .milkdown {
    font-size: 1em;
}

h1 h2 h3 h4 h5 h6 {
    font-size: 1em;
} */