.milkdown .editor {
    /* height: 100vh; */
    min-height: calc(100vh - 33px);
    /* set the background color: */
    background-color:#242c37;
    color: white;
    font-size: 17px;
    /* border: 2px solid black; */
    overflow: auto;
    padding: 2px;
    padding-left: 5px;
}
.milkdown .editor:focus {
    outline: none;
}

/* .milkdown .editor p {
    margin: 0;
    line-height: normal; 
} */

/* .milkdown .editor h1,
.milkdown .editor h2,
.milkdown .editor h3,
.milkdown .editor h4,
.milkdown .editor h5,
.milkdown .editor h6 {
    margin-top: 5rem; 
        margin-bottom: 5rem; } */

.milkdown .editor .paragraph {
    margin: 0rem 0;
    line-height: 1.5;
}

/* do the s */
.milkdown .editor ol, .milkdown .editor ul {
    margin: 0em 0 !important;
}

.milkdown .editor blockquote {
    margin: 0.5em 0 !important;
    padding-left: 1em;
    border-left: 3px solid #ccc; /* Example style */
    /* Other styling as needed */
}



.milkdown .editor .heading {
    margin: 1rem 0 !important;
    /* font-size: 1.4rem; */
}

.milkdown .editor h1 {
    font-size: 1.8em !important; /* Adjust the size as needed */
}

.milkdown .editor h2 {
    font-size: 1.6em !important;
}

.milkdown .editor h3 {
    font-size: 1.4em !important;
}

.milkdown .editor h4 {
    font-size: 1.2em !important;
}

.milkdown .editor h5 {
    font-size: 1.1em !important;
}

.milkdown .editor h6 {
    font-size: 1.0em !important;
}


/* .milkdown {
    font-size: 1em;
}

h1 h2 h3 h4 h5 h6 {
    font-size: 1em;
} */