/* Main chat container */
.chat-container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
    line-height: 1.6;
}

/* User's message box */
.user-chat-message {
    background-color: rgb(50, 50, 50);
    color: rgb(220, 220, 220);
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* AI's message box */
.assistant-chat-message {
    color: rgb(210, 210, 210);
    padding: 10px 15px;
    margin: 10px 0;
}

@keyframes dropdown-fadeIn {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(10px);
    }
}

.animate-dropdown-fadeIn {
    opacity: 0;
    animation: dropdown-fadeIn 0.5s ease-out forwards;
}