@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --bg-000: 60 1.8% 22%;
  --gen-100: 50 23.1% 94.9%;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;

}

a {
  color: #0f82af;
  cursor: pointer;
}


::marker {
  color: rgb(163 163 163);

}

#customTitleBar {
  -webkit-app-region: drag;
  height: 32px;
}

#customTitleBar #titleBarFileNavigator, 
#titleBarSimilarFiles {
  -webkit-app-region: no-drag;
}

#titleBarSingleTab {
  -webkit-app-region: no-drag;
  padding-top: 25px;
  padding-bottom: 25px;
}

button {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  width: 7px;
  /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Make the scrollbar track transparent */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(95, 125, 139, 0.5);
  border-radius: 2px;
}

/* CSS for menu that appears when selecting/highlighting text */
.bubble-menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 225px;
  background: #323232;
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  max-height: calc(100vh - 94px);
  overflow-y: auto;

  cursor: default;
  font-size: 13px;
  margin: 0;
  outline: none;
  padding: 6px 0;
  position: absolute;
  align-items: flex-start;
}

.bubble-menu-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin: 0;
  background: transparent;
  border: none;
  color: white;
  justify-content: flex-start;
  width: 100%;
}

.bubble-menu-item:hover {
  background: #242424;
}

.bubble-menu-item.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.icon {
  margin-right: 16px;
}

.text {
  align-self: center;
}


/* Css for table on bubble-menu */
.table-size-selector {
  background: #323232;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1050;
}

.table-size-selector .row {
  display: flex;
}

.table-size-selector .cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: #6f6c6c;
  transition: background-color 0.3s;
  margin: 1px;
}

.table-size-selector .cell.hovered,
.table-size-selector .cell:hover {
  background-color: #ddd;
}


/**
 * TAKEN FROM: https://tiptap.dev/docs/editor/extensions/nodes/table
 */
/* Basic editor styles */
.tiptap :first-child {
  margin-top: 0;
}

/* Table-specific styling */
.tiptap table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.tiptap td,
.tiptap th {
  border: 1px solid #ccc;
  box-sizing: border-box;
  min-width: 1em;
  padding: 6px 8px;
  position: relative;
  vertical-align: top;
}

.tiptap td>*,
.tiptap th>* {
  margin-bottom: 0;
}

.tiptap th {
  /* background-color: rgba(61, 37, 20, .05); */
  background-color: rgba(162, 157, 153, 0.5);
  /* 50% transparent white */
  font-weight: bold;
  text-align: left;
}

.tiptap .selectedCell:after {
  /* background: rgba(61, 37, 20, .08); */
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.tiptap .column-resize-handle {
  background-color: var(--purple);
  bottom: -2px;
  pointer-events: none;
  position: absolute;
  right: -2px;
  top: 0;
  width: 4px;
}

.tiptap .tableWrapper {
  margin: 1.5rem 0;
  overflow-x: auto;
}

.tiptap.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.my-day-picker .rdp {
  @apply text-xs;
  /* Adjust font size */
}

.my-day-picker .rdp-months {
  @apply p-2;
  /* Adjust padding */
}

.my-day-picker .rdp-caption {
  @apply text-sm;
  /* Adjust caption font size */
}

.my-day-picker .rdp-day {
  @apply w-6 h-6 leading-6;
  /* Adjust day cell size */
}