@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #0f82af;
  cursor: pointer;
}

.backlink {
  color: #0f82af;
  cursor: pointer;

}

.backlink-invisible::before, .backlink-invisible::after {
  visibility: hidden;
}

.backlink-visible::before {
  content: '[[';
  visibility: visible;
}

.backlink-visible::after {
  content: ']]';
  visibility: visible;
}


::marker {
  color: rgb(163 163 163);

}

#customTitleBar {
  -webkit-app-region: drag;
}

#customTitleBar * {
  -webkit-app-region: no-drag;
}

button {
  -webkit-app-region: no-drag;
}

.markdown-content p {
  padding: 0.25rem;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Make the scrollbar track transparent */
}

::-webkit-scrollbar-thumb {
  background: rgb(164, 164, 164); /* Set the thumb color */
  border-radius: 10px;
}
