@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;

}

a {
  color: #0f82af;
  cursor: pointer;
}


::marker {
  color: rgb(163 163 163);

}

#customTitleBar {
  -webkit-app-region: drag;
}

#customTitleBar * {
  -webkit-app-region: no-drag;
}

button {
  -webkit-app-region: no-drag;
}

.markdown-content p {
  padding: 0.25rem;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Make the scrollbar track transparent */
}

::-webkit-scrollbar-thumb {
  background: rgb(164, 164, 164); /* Set the thumb color */
  border-radius: 10px;
}

.my-day-picker .rdp {
  @apply text-xs; /* Adjust font size */
}

.my-day-picker .rdp-months {
  @apply p-2; /* Adjust padding */
}

.my-day-picker .rdp-caption {
  @apply text-sm; /* Adjust caption font size */
}

.my-day-picker .rdp-day {
  @apply w-6 h-6 leading-6; /* Adjust day cell size */
}
