@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #0f82af;
}

::marker {
  color: lightskyblue
}

#customTitleBar {
  -webkit-app-region: drag;
}

#customTitleBar * {
  -webkit-app-region: no-drag;
}

button {
  -webkit-app-region: no-drag;
}

.markdown-content p {
  padding: 0.25rem; 
  margin: 0; 
}


.milkdown .editor {
  color: white;
  font-size: 17px;
  overflow: auto;
  padding: 2px;
  padding-left: 5px;
}
.milkdown .editor:focus {
  outline: none;
}


.milkdown .editor .paragraph {
  margin: 1rem 0;
  line-height: 1.5;
}

.milkdown .editor ol, .milkdown .editor ul {
  margin: 0em 0 !important;
}

.milkdown .editor blockquote {
  margin: 0.5em 0 !important;
  padding-left: 1em;
  border-left: 3px solid #ccc; 
}

.milkdown .editor .heading {
  margin: 1rem 0 !important;
}

.milkdown .editor h1 {
  font-size: 1.8em !important; 
}

.milkdown .editor h2 {
  font-size: 1.6em !important;
}

.milkdown .editor h3 {
  font-size: 1.4em !important;
}

.milkdown .editor h4 {
  font-size: 1.2em !important;
}

.milkdown .editor h5 {
  font-size: 1.1em !important;
}

.milkdown .editor h6 {
  font-size: 1.0em !important;
}
