@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;

}

a {
  color: #0f82af;
  cursor: pointer;
}


::marker {
  color: rgb(163 163 163);

}

#customTitleBar {
  -webkit-app-region: drag;
}

#customTitleBar * {
  -webkit-app-region: no-drag;
}

button {
  -webkit-app-region: no-drag;
}

.markdown-content p {
  padding: 0.25rem;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
  /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Make the scrollbar track transparent */
}

::-webkit-scrollbar-thumb {
  background: rgb(164, 164, 164);
  /* Set the thumb color */
  border-radius: 10px;
}


/* X Scrollbar */
.scrollable-x-thin::-webkit-scrollbar {
  height: 3px;
  /* Set the height of the horizontal scrollbar to 5px */
}

.scrollable-x-thin::-webkit-scrollbar-track {
  background: transparent;
  /* Optional: make the track transparent */
}

.scrollable-x-thin::-webkit-scrollbar-thumb {
  background-color: rgba(95, 125, 139, 0.5);
  /* Gray color with some transparency */
  border-radius: 2px;
  /* Optional: rounded corners for the scrollbar thumb */
}

.scrollable-x-thin {
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: rgba(75, 85, 99, 0.5) transparent;
  /* For Firefox, color and transparent track */
}


/* y scroll bar */
.scrollable-y-thin::-webkit-scrollbar {
  width: 3px;
  /* Set the height of the horizontal scrollbar to 5px */
}

.scrollable-y-thin::-webkit-scrollbar-track {
  background: transparent;
  /* Optional: make the track transparent */
}

.scrollable-y-thin::-webkit-scrollbar-thumb {
  background-color: rgba(95, 125, 139, 0.5);
  /* Gray color with some transparency */
  border-radius: 2px;
  /* Optional: rounded corners for the scrollbar thumb */
}

.scrollable-y-thin {
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: rgba(75, 85, 99, 0.5) transparent;
  /* For Firefox, color and transparent track */
}

/* CSS for menu that appears when selecting/highlighting text */
.bubble-menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 125px;
  background-color: #323232;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
}

.bubble-menu button {
  text-align: left;
  background: transparent;
  border: none;
  color: white;
  padding: 6px;
  border-bottom: 1px solid lightgray;
}