/* CSS for dropdown animation onMouseEnter */
.tab-tooltip {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    white-space: no-wrap;
    z-index: 1010;
    animation: fadeIn 0.3s ease-in-out;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideIn 0.3s ease-out;
}
