/* CSS for dropdown animation onMouseEnter */
.tab-tooltip {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    white-space: no-wrap;
    z-index: 1010;
    animation: fadeIn 0.3s ease-in-out;
    height: 30px;
    max-width: 100%;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;

    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
