.milkdown .editor {
    padding-top: 0px;
    /* height: 100vh; */
    /* set the background color: */
    background-color: #2e3440;
    /* color: white; */
    font-size: 1em;
    /* border: 2px solid black; */
    overflow: auto;
}

.milkdown {
    font-size: 1em;
}

h1 h2 h3 h4 h5 h6 {
    font-size: 1em;
}

* {
    font-size: 1px;
}