.modal-slot {
  .update-progress {
    display: flex;
  }

  .new-version__target,
  .update__progress {
    margin-left: 40px;
  }

  .progress__title {
    margin-right: 10px;
  }

  .progress__bar {
    width: 0;
    flex-grow: 1;
  }

  .can-not-available {
    padding: 20px;
    text-align: center;
  }
}