name: Build/release Electron app
on: [push, pull_request]
jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install Dependencies
        run: npm install
      - name: build-linux
        if: matrix.os == 'ubuntu-latest'
        run: npm run package-linux
      - name: build-mac
        if: matrix.os == 'macos-latest'
        run: npm run package-mac
      - name: build-win
        if: matrix.os == 'windows-latest'
        run: npm run package-win
      - name: release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: |
            release/*.exe
            release/*.zip
            release/*.dmg
            release/*.AppImage
            release/*.snap
            release/*.deb
            release/*.rpm
            release/*.tar.gz
            release/*.yml
            release/*.blockmap
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
